/*TIPOS DE LETRA*/

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


/*Variables*/
:root {
    --tinta: rgb(32, 0, 54);
    --fondo: whitesmoke;
    --fondo-menu: rgb(75, 16, 194);
    --arriba: rgb(255, 252, 55);
    --arriba-borde:  rgb(255, 252, 55) ;
    --arriba-color:black;

    --letra: "Afacad Flux", sans-serif;
    --titulo:' 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
    
    --espaciado: 0.5rem;
}


/*RESETEO*/

*{
    box-sizing: border-box;
}

body {
    font-family: var(--letra);
    margin: 0;
    background-color: --fondo;
    color:var(--tinta)
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--titulo);
}

a {
    color: rgb(38, 50, 102);
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}


main{padding: var(--espaciado);}

pre{
    overflow: auto;

    background-color: lightgray;
    padding: var(--espaciado);
    border-radius: 0.25rem;
}


dt{
    font-weight: bold;
}

dd {
    margin: 0.25rem 0 0.1rem ;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid gray;
}


.proporcion{
    position: relative;
    padding-bottom: 100%;
    border: 0;
    margin: 1rem 0;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*calculo proporcion=calc(9/16*100%)*/

body>nav>ul {
    list-style: none;
}

img, audio, video, iframe {
    width: 100%;
    margin: 1rem 0;
}

p {
    line-height: 1.3rem;
    margin: 2rem 0;
}


/* TITULO, MENÚ PRINCIPAL Y PIE*/

h1, body>nav>ul, footer{
    background-color: var(--fondo-menu);
    color: var(--fondo);
    margin: 0;
    padding: 1rem;
    text-align: center;
}



body>nav{
    & ul{
        list-style: none;

        & a{display: inline-block;
            color:var(--fondo);
            padding: var(--espaciado);
            width: 100%;

        }

        & a:hover{
            text-decoration: none;
            background-color: var(--fondo);
            color: var(--tinta);
        }
    }
}

/*FORMULARIOS*/

fieldset, input, button, textarea, select {
    border: 1px solid rgb(50, 106, 104);
    border-radius: 0.25rem;
    padding: 0.25rem;
    width:100%;
    margin: 0.25rem 0;
}

fieldset{
    padding: var(--espaciado);
    margin: var(--espaciado) 0;
}

button, input[type=submit],input[type=reset] {
    background-color: lightgray;
}

/*ANUNCIOS*/

aside {
    background-color: lightgray;

    & ul{
        list-style: none;
        text-align: center;
        padding: 0;
        margin:0;
    }

    & li{
        margin: 0.25rem 0;
        ;
    }
}


/*PIE*/

#arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#arriba a {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--arriba);
    border: 2px solid var(--arriba-borde);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.81);

    color: var(--arriba-color);
    text-decoration: none;
}



/*TABLAS*/

table{
    & thead{
        background-color: var(--fondo-menu);
        color: var(--fondo);
    }
    
    & tr:nth-child(even){
        background-color: lightgray;
    }

    & th, td {
        border: 1px solid lightgray;
        padding: 0.25rem 0.5rem;
    }
    
    & th:first-child, td:first-child{
        text-align: end;
    }

    & th:not(:first-child), td:not(:first-child) {
        text-align: start;
    }
}



