/*RESETEO*/

*{
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a {
    color: rgb(38, 50, 102);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(57, 8, 8);
}

main{padding: 0.5rem;}

pre{
    overflow: auto;

    background-color: lightgray;
    padding: 0.5rem;
    border-radius: 0.25rem;
}


dt{
    font-weight: bold;
}

dd {
    margin: 0.25rem 0 0.1rem ;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid gray;
}


.proporcion{
    position: relative;
    padding-bottom: 100%;
    border: 0;
    margin: 1rem 0;
}

/*calculo proporcion=calc(16/9*100)*/

.proporcion iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body>nav>ul {
    list-style: none;
}

img, audio, video, iframe {
    width: 100%;
    margin: 1rem 0;
}

p {
    line-height: 1.3rem;
    margin: 2rem 0;
}


/* TITULO, MENÚ PRINCIPAL Y PIE*/

h1, body>nav>ul, footer{
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 1rem;
    text-align: center;
}


body>nav a {
    display: inline-block;
    color:whitesmoke;
    padding: 0.5rem;
    width: 100%;
}

body>nav a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}


/*FORMULARIOS*/

fieldset, input, button, textarea, select {
    border: 1px solid rgb(50, 106, 104);
    border-radius: 0.25rem;
    padding: 0.25rem;
    width:100%;
    margin: 0.25rem 0;
}

fieldset{
    padding: 0.5rem;
    margin: 0.5rem 0;
}

button, input[type=submit],input[type=reset] {
    background-color: lightgray;
}

/*ANUNCIOS*/

aside {
    background-color: lightgray;
}

aside ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin:0;
}

aside li{
    margin: 0.25rem 0;
    ;
}

/*PIE*/

#arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

#arriba a {
    display: inline-block;
    padding: 0.5rem;
    background-color: lightcoral;
    border: 1.5px solid rgb(126, 88, 88);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.468);

    color: rgb(62, 31, 31);
    text-decoration: none;
}


/*TABLAS*/

thead{
    background-color: black;
    color: white;
}

tr:nth-child(even){
    background-color: lightgray;
}

th, td {
    border: 1px solid lightgray;
    padding: 0.25rem 0.5rem;
}

th:first-child, td:first-child{
    text-align: end;
}

th:not(:first-child), td:not(:first-child) {
    text-align: start;
}
